.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #5D6975;
    text-decoration: underline;
}

body {
    position: relative;
    width: 100%;
    height: 29.7cm;
    margin: 0 auto;
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
}

header {
    padding: 10px 0;
    margin-bottom: 30px;
}

#logo {
    text-align: center;
    margin-bottom: 10px;
}

#logo img {
    width: 90px;
}

h1 {
    color: #fff;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
    background: red;
}

#customer {
    width: 40%;
    float: right;
    text-align: right;
}

#customer span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
}

#company {
    width: 40%;
    float: left;
}

#customer div,
#company div {
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table tr:nth-child(1n) td {
    border-bottom: 1px solid #C1CED9;
}

table th,
table td {
    text-align: center;
}

table th {
    padding: 5px 10px;
    color: #000;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;
    font-weight: normal;
    background: #F5F5F5;
    text-align: right;
}

table .service,
table .desc {
    text-align: left;
}

table td {
    padding: 7px;
    text-align: right;
}

table td.service,
table td.desc {
    vertical-align: top;
}

/*table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}*/

table td.grand {
    border-top: 1px solid #5D6975;
}


.footer-info{display: inline-block;float: left;width: 100%;}
#notices {float: left;width: 350px;display: inline-block;font-size: 11px;}
.total-info{float: right;width: 300px;display: inline-block;}
.total-info ul {padding: 0px; margin: 0px;float: right;text-align: right;display: inline-block;}
.total-info ul li{list-style-type: none;padding: 10px 0px;width: 100%;display: inline-block;text-align: right;float: right;}
.total-info ul li div.label{display: inline-block;float: left;width: 60%;}
.total-info ul li div.total{display: inline-block;float: right;}
.total-info ul li div.total-label{background: #eff3f6; padding: 20px 20px 20px 0px;width: 120px;margin-left: 60px;font-size:1.4em;font-weight:bold;}
.total-info ul li div.grand-total{padding: 20px 0px;font-size:1.4em;font-weight:bold;}

#notices .notice {
    color: #5D6975;
    font-size: 12px;
}

footer {
    color: #5D6975;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
}


/*
* PDF V2
*/
.header{display: inline-block;width: 100%;}
.header .header_company_info,
.header #logo{display: inline-block;width: 33%;float: left;}
.header .header_company_info{padding-top: 20px;}
.header .invoice_info{float: right;width: 30%;text-align: right;margin: 20px 0px;font-weight: normal;}
.header .invoice_info h2{font-weight: normal;margin-bottom: 0px;line-height: 18px;}

.header_company_info ul{padding:0px;}
.header_company_info ul li{padding:0px;padding-left: 30px;margin-bottom: 5px;list-style-type: none;height: 20px;display: inline-block;}

.header_company_info ul li a{display: inline-block;vertical-align: middle;}
.header_company_info ul li img{width: 20px;display: inline-block;vertical-align: middle;}

header .middle_info{display: inline-block;width: 100%;padding: 20px 20px;background: url(images/arrow-right-ico.png) center no-repeat;background-color: #eff3f6;margin-top: 20px;}